body,p,form,input{
    margin:0
  }

#group_create_id{
    text-align: center;
  }
input[type="text"]{
      width: 500px;
      padding: 4px;
      font-size: 14px;
  }

.group_create{
  margin-top: 120px;
  margin-bottom: 120px;
}

.submit{
    text-align: center;
    padding-bottom: 10px;
  }

.submit input{
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  border-radius: 10px;
  background: #4eb4c2;
  box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  }

.submit input:hover{
  background: #37a4bf;
 }
