body, p, #sign-up, input{
    margin: 0px;
}

#sign-up{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
}

#sign-up p{
    font-size: 14px;
}

.sign-up-title{
    text-align: center;
}

.sign-up-text{
    text-align: center;
    padding: 10px;
}

.submit{
    text-align: center;
    padding-bottom: 10px;
}

/* font */
#sign-up p{
    color: #077685;
    font-weight: bold;
}

#sign-up .sign-up-title{
    font-family: Arial;
    font-size: 30px;
    color: #4eb4c2;
}

.sign-up-text{
    font-family: Arial;
    font-size: 30px;
}

/* skin */

#sign-up{
    box-shadow: 0px 1px 10px #488a9e;
    border: solid #4eb4c2 1px;
    background: #fafafa; 
}

.sign-up-title{
    padding-bottom: 6px;
    border-bottom: 2px solid #4eb4c2;
    margin-bottom: 20px;
}

.submit input{
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    background: #4eb4c2;
    box-shadow: 0px 8px 6px #e3e3e3;
    border: solid #f5fdff 4px;
}

.submit input:hover{
    background: #37a4bf;
}