table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
}
.group{
  float: left;
  background: #fcfcfc;/*背景色*/
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 30px;
  border: solid 3px gray;/*線の種類 太さ 色*/
  margin-left: 20px;
}

.questions{
  margin-left: 20%;
}
.group li{
  line-height: 1.5; /*文の行高*/
  padding: 0.5em 0; /*前後の文との余白*/
}

table tr{
  border: solid 1px #eee;
  cursor: pointer;
}
.problem_tr:hover{
  background: #fff;/*背景色*/
}

table tr:hover{
  background-color: #d4f0fd;
}

 table th,table td {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

h2{
margin-left:10px;
}
