.main{
	width: 100%;
	height: 0px;
	background-color: #000;
	background-image: url(../images/top_gray.png); 
	background-repeat:no-repeat;
	background-postion: 10 center; 
	background-size: cover;
	
	color: #fff;
    text-align: center;
    padding: 100px 0px 350px 0px;
	margin: 0px;
    bottom: 0; /*下に固定*/
}

h2{
	color: #ca002b;
  text-shadow:1px 1px 2px #FFF, -1px -1px 2px #FFF,
              -1px 1px 2px #FFF, 1px -1px 2px #FFF,
              0px 1px 2px #FFF,  0-1px 2px #FFF,
              -1px 0 2px #FFF, 1px 0 2px #FFF;
}

.main p{
	color: #fff;
  text-shadow:1px 1px 2px #888, -1px -1px 2px #888,
              -1px 1px 2px #888, 1px -1px 2px #888,
              0px 1px 2px #888,  0-1px 2px #888,
              -1px 0 2px #888, 1px 0 2px #888;
}
